/* PAGE FORMULAIRE DE CONTACT */

.formulaire{
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 5px 5px silver;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
 }

 .formulaire span{
     display: block;
 }

 .formulaire input{
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px silver;
    text-align: center;
    height: 25px;
    font-size: 1em;
}

.formulaire textarea{
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px silver;
    text-align: center;
    font-size: 1em;
}

.formulaire div{
    width: 90%;
    margin: 20px auto;
}

.button{
    width: 90%;
    height: auto;
}

#button{
    height: 40px;
    width: 250px;
    display: block;
    color: white;
    background-color: #34606a;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1em;
    transition: 0.3s;
}

#button:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 10px silver;
}


















.barre1 {
    height: 1px;
    color: #34606a;
    width: 110%;
    position: absolute;
    z-index: 1000;
    background-color: #34606a;
    margin-left: -500px;
    margin-bottom: 50px;
  }

  .page-projet button{
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px silver;
    text-align: center;
    height: 40px;
    font-size: 1em;
    margin-top: 15px;
    background-color: grey;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .page-projet a{
      text-decoration: none;
      color: white;
  }

  .image-post  img{
    max-width: 70%;
	height: auto;
  }


  @media screen and (max-width: 500px){

  .formulaire{
    width: auto;
  }

  .formulaire1{
    width: auto;
  }

  .page-projet button{
    width: 40%;
  }

  .commentaire{
      width: auto;
      height: auto;
  }

 }