body{
  font-family: Roboto Condensed;
  overflow-x: hidden;
  overflow-y: auto; 
}


h1 {
  color: blue;
}

#bandeau {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  background: white;
}

#menu li {
  list-style: none;
}

#menu {
  

  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    min-height: 100px;
}

#menu li a {
  font-size: 20px;
  color: #34606a;
  text-decoration: none;
  padding: 20px;
  transition: 0.2s;
}



#logo > img {
  height: 270px;
  margin-top: -80px;
}

#logo {
  margin-top: 0px;
}

.logo-slide{
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e3e8ec;
}

.logo-slide > h2 {
  color: #34606a;
  font-size: 50px;
}

.logo-slide > p {
  color: #34606a;
  margin-top: 40px;
}

.p1 {
  color: #34606a;
  margin-top: -41px;
}

.p2 {
  color: #34606a;
  margin-top: 41px;
  font-size: 40px;
}

.p3 {
  color: black;
  font-size: 40px;
}

.button-flex {
  margin: 30px 0px;
  display: flex;
  widows: 300px;
  justify-content: space-around;
}

#button2 {
    transform: translate(-0%, -0%);
    align-self: center;
    width: 130px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #34606a;
    font-size: 18px;
    letter-spacing: 2px;
}





.bloc {
  padding-left: 35px;
  display: flex;
  width: 900px;
  margin-top: 120px;
}



.logo-slide > h2 {
  margin-top: 0px;
}

.competences {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.competence {
  position: relative;
}

.competence1 {
  position: relative;
}

.competence > img {
  border-style: solid;
  border-color: #34606a;
  margin-bottom: 50px;
  border-width:1px;
}

.competence1 > img {
  border-style: solid;
  border-color: #34606a;
  margin-bottom: 50px;
  border-width:1px;
}

.competence > h1 {
  color: black;
}



.competence > div {
  height: 322px;
  width: 100%;
  background-color: #34606a;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1000;
  transition: 1s;
  border-style: solid;
  border-color: #34606a;
  border-width:1px;
}

.competence1 > div {
  height: 322px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1000;
  transition: 1s;
  border-style: solid;
  border-color: #34606a;
  border-width:1px;
}

.competence:hover > div {
  width: 0%;
  transition: 1.5s;
  
}

.competence1:hover > div {
  width: 0%;
  transition: 1.5s;
  
}

.competence > div > p {
  text-align: center;
  height: 300px;
  margin-top: 100px;
  font-size: 2em;
  color: white;
  transition: 1s;
}

.competence1 > div > p {
  text-align: center;
  height: 300px;
  margin-top: 100px;
  font-size: 2em;
  color: #34606a;
  transition: 1s;
}

.competence:hover > div > p {
  animation: fadein 0.5s;
  opacity: 0;
  transition: 0.9s;
  color: #34606a;
}

@keyframes fadein {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

.competence1:hover > div > p {
  animation: fadein 0.5s;
  opacity: 0;
  transition: 1.2s;
  color: white;
}

.realisation > div {
  position: relative;
}



.realisation > div > div > a {
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  background-color: seashell;
  color: black;
  display: block;
  height: 25px;
  width: 70%;
  margin: 15px auto;
  line-height: 25px;
}




h2 {
  text-align: center;
  font-size: 2.5em;
  color: #34606a;
}

.sur-competences {
  margin-bottom: 90px;
}

.sur-competences > p {
  text-align: center;
  font-size: 1em;
  color: #a1a1a1;
  margin-top: -20px;
}

.competence > h3 {
  margin-left: 170px;
  margin-top: -90px;
  width: 200px;
  text-align: center;
  color: #858585;
}
















.realisations > p {
  text-align: center;
  font-size: 1em;
  color: #a1a1a1;
  margin-top: -20px;
}

.realisations {
  margin-top: 90px;
}

.realisations1 {
  margin-top: 90px;
}

.realisation1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 200px;
  margin-top: 80px;
}

.projet {
  position: relative;
  height: 300px;
  background-color: white;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;

}

.projet1 {
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.projet2 {
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.projet4 {
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.projet5 {
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.projet4 {
  position: relative;
  height: 300px;
  background-color: white;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.projet > img {
  
}

.realisation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  text-align: center;
  margin-left: 140px;
}



.slide {
  position: absolute;
  top: 0;
  left: 700px;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.5s;

}

.projetslide{
  margin: 0 200px;
}

#button-left {
  position: absolute;
  left: -9%;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 10000;
  cursor: pointer;
}

.fa-arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 10000;
}

#button-right {
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10000;
}




.projet {
  margin-top: 30px;
}

.projet1 {
  margin-top: 30px;

}

.projet2 {
  margin-top: 30px;

}

.projet3 {
  margin-top: 30px;
  margin-left: 100px;
}

.projet4 {
  margin-top: 30px;
  margin-left: 100px;
}

.projet1 > img {
  border-style: solid;
  border-color: #34606a;
  border-width: 1px;
}

.projet1:hover > img {
  
}

.projet > img {
  border-style: solid;
  border-color: #34606a;
  border-width: 1px;
  max-width: 90.9%;
  height: auto;
  box-shadow: 4px 4px 0px #34606a;
}

.projet2 > img {
  border-style: solid;
  border-color: #34606a;
  border-width: 1px;
}
.projet4 > img {
  margin-top: 30px;
}



.projet5 > img {
  border-style: solid;
  border-color: #34606a;
  border-width: 1px;
}

.projet4 {
  border-style: solid;
  border-color: #34606a;
  border-width: 1px;
  height: 300px;
}



 .footer1 {
  width: 110%;
  height: 100px;
  background-color: #34606a;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 75px;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-right: 150px;
}

.nom {
  color: white;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}

.rs {
  color: white;
text-align: center;
font-size: 16px;
letter-spacing: 2px;
margin-top: 20px;
}

.rs > a {
  display: block;
  margin: 20px auto;
  width: 90px;
}

.rs > a > img {
  display: block;
margin: 20px auto;
width: 90px;
}

.formulaire > form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  height: 400px;
}

.formulaire > form div + div {
  margin-top: 1em;
}

.formulaire > form > div {
  width: auto;
}

.formulaire > form > div > input {
  width: 400px;
}

.formulaire > form > div > textarea {
  width: 400px;
}

.formulaire > form > div > label {
}


.formulaire > form > div > label {
  display: inline-block;
  width: 90px;
  text-align: cen;
  color: #34606a;
  font-weight: bold;
}

.formulaire > input:focus, textarea:focus {
  border-color: rgb(243, 8, 8);
}

.formulaire > textarea {
  vertical-align: top;
  height: 15em;
}

#msg {
  height: 15em;
}

.formulaire > form > div > button {
  width: 250px;
  margin-left: 70px;
  background-color: #4e747d;
  color: white;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
}

.formulaire > button {
  margin-left: .5em;
}

.intro > h3 {
  text-align: center;
}

.intro > p {
  text-align: center;
  color: #858585;
}

.intro {
  margin-bottom: 60px;
  margin-top: 60px;
}

.barre {
  height: 1px;
  color: #34606a;
  width: 110%;
  position: absolute;
  z-index: 1000;
  background-color: #34606a;
  margin-left: -10px;
}

.erreur > h2{
  color: red;
  margin-top: 145px;
}

.p-erreur{
  margin-left: 37%;
}

.bouton-erreur{
  width: 90%;
  height: auto;
  margin-bottom: 420px;
}

.bouton-erreur > a{
  height: 40px;
    width: 250px;
    display: block;
    color: white;
    background-color: #34606a;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1em;
    transition: 0.3s;
    text-align: center;
    line-height: 40px;
}




.bouton-projet button {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px silver;
    text-align: center;
    height: 40px;
    font-size: 1em;
    margin-top: 15px;
    background-color: grey;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.bouton-projet a {
  text-decoration: none;
      color: white;
}



.bouton-realisations button {
  display: block;
  width: 20%;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px silver;
  text-align: center;
  height: 40px;
  font-size: 1em;
  margin-top: 15px;
  background-color: white;
  color: #34606a;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.bouton-realisations a {
text-decoration: none;
    color: #34606a;
}


.bouton-realisations:hover {
  transform: scale(1.1);
    box-shadow: 0px 10px 10px white;
}
















.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: -150px;
}

.container1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 150px;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4e747d;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #34606a;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #34606a;
  font-size: 18px;
  font-weight: 100;
}

.btn:hover span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.image-slide > img {
  width: 100%;
}


















.diapo {
  position: relative;
  overflow: hidden;
}

.elements{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.element{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.element > img{
  width: 100%;
}














.delete_comment2 {
  border-radius: 20px;
  background-color: #e54040;
  padding: 5px 7px;
  text-decoration: none;
  color: white;
}

.modo {
  text-align: center;
  padding-top: 5px;
  line-height: 2em;
}

.ban_ip {
  border-radius: 20px;
  background-color: black;
  padding: 5px 7px;
  text-decoration: none;
  color: white;
}

.barre3 {
  height: 1px;
  color: #34606a;
  width: 40%;
  z-index: 1000;
  background-color: black;
  margin-left: 30%;
  margin-top: 5px;
}




.connect li {
  list-style-type: none;
}

.connect a {
  display: flex;
  margin-top: 35px;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}




.formulaire1{
  width: 500px;
  height: auto;
  text-align: center;
  box-shadow: 0px 5px 5px silver;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}



.formulaire1 div{
  width: 90%;
  margin: 20px auto;
}


.button1 {
  height: 40px;
    width: 150px;
    display: block;
    color: #34606a;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1em;
    transition: 0.3s;
}

.button1:hover {
  transform: scale(1.1);
    box-shadow: 0px 10px 10px silver;
}












.menu_nav{
  display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.active.menu_nav{
  right: 0;
}
.nav__list-item{
  list-style: none;
}
.nav__item-link{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px;
  transition: 0.2s;
}
.nav__item-link:hover{
  background-color: rgb(238, 112, 90);
}


.nav__btn{
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  right: 2%;
  cursor: pointer;
  outline: none;
}
.nav__btn span{
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34606a;
  top: 0;
  left: 0;
}
.nav__btn::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34606a;
  top: 10px;
  left: 0;
  transition: 0.5s;
}
.nav__btn::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34606a;
  top: 20px;
  left: 0;
  transition: 0.5s;
}

.close.nav__btn::before {
  transform: rotate(45deg);
}
.close.nav__btn::after {
  transform: translate(0px,-9px) rotate(-45deg);
}
.close.nav__btn span{
  display: none;
}


.bouton-realisations > button > p{
  display: none;
}






@media(max-width: 950px) {
  .nav__btn{
    display: block;
    top: 50px;
  }

  .nav__item-link{
    display: block;
    text-align: center;
  }
  .nav__list-item{
    width: 100%;
  }

  .menu_nav {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: auto;
    background: white;
    height: 0;
    overflow: hidden;
  }

  #menu{
    position: absolute;
    right: 0;
    top: 110px;
    height: auto;
    width: auto; 
    min-height: 0;
  }
}












@media screen and (max-width: 1500px){
  
  .logo-slide{
    margin-top: -5%;
  }

  .logo-slide > img{
    width: 40%;
  }

  .logo-slide > h2{
    font-size: 2em;
  }

  .logo-slide > .p1{
    margin-top: -10%;
  }

  .logo-slide > .container > .center > .btn{
    display: none;
  }

  .logo-slide > .container > .center > .btn > .border{
    display: none;
  }

  .logo-slide > .container > .center > .btn > span{
    display: none;
  }

  .logo-slide > .container1 > .center > .btn{
    display: none;
  }

  .logo-slide > .container1 > .center > .btn > .border{
   display: none;
  }

  .logo-slide > .container1 > .center > .btn > span{
    display: none;
  }

  

}





/* Menu burger deroulant */
@media screen and (max-width: 1000px){
  
  .logo-slide{
    margin-top: -20%;
  }

  .nom{
    display: none;
  }

  .info{
    margin-right: 0px;
  }

}


@media screen and (max-width: 850px){
  
  .logo-slide > .p1{
    display: none;
  }

}



@media screen and (max-width: 750px){

 .logo-slide{
   margin-top: -25%;
 }

 .logo-slide > img{
  width: 70%;
}

 .logo-slide > h2{
   display: none;
 }

 .logo-slide > .p1{
  display: none;
}
 
  .competence{
    width: 100%;
  }

  .competence > img{
    width: 100%;
  }

  .competence1{
    width: 100%;
  }

  .competence1 > img{
    width: 100%;
  }

  .competences{
    width: 85%;
  }

  .projet{
   
  }

  .elements{
    width: 100%;
  }


}



/* Footer en vertical */
@media screen and (max-width: 600px){
  
  .logo-slide{
    margin-top: -36%;
  }

}

@media screen and (max-width: 500px){
  
  .logo-slide{
    display: none;
  }

  .footer1{
    height: 150px;
  }

  h2{
    font-size: 1.5em;
  }

  #logo{
    margin-left: -40px;
  }

  .competence > div{
    display: none;
  }

  .competence1 > div{
    display: none;
  }

  .bouton-realisations > button > p{
    display: block;
  }

  .bouton-realisations > button > a{
    display: none;
  }

  .bouton-realisations > button{
    height: auto;
  }

  .projetslide{
    margin: 0;
  }

}
