{% extends 'base.html.twig' %}

{% block header %}

  <img src="{{ asset('images/TM(7).png') }}" />

{% endblock %}

{% block body %}

<div class="barre"></div>

  <h2>PAGE BLACK LIST</h2>
  <h3>Liste des IP blacklist</h3>

<div class="modo">
{% for banip in banips %}

  <p>{{ banip.ip }}</p>
  <a href="/moderateur/nobanip{{ banip.id }}" class="delete_comment2"><i class="fas fa-trash-alt"></i></a>

  <div class="barre3"></div>

{% endfor %}
</div>

<style>
     h3 { text-align: center;}
</style>

{% endblock %}

{% block footer %}

  <div class="footer1">
    <div class="info">
      <div class="nom">
        <p>Titouan Morvan<br>
        ~<br>
        Développeur Web</p>
      </div>
      <div class="rs">
        Réseaux Sociaux :
        <a href="https://www.linkedin.com/in/titouan-morvan-06baa214b/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1200px-LinkedIn_Logo.svg.png" alt="Logo linkedin"/></a>
      </div>
    </div>
  </div>

{% endblock %}

